/* intro text, i.e. What is {css} designerGrid */
.intro {
  height: 180px;
  padding: 10px;
  z-index: 99;
  background-color: #CF6;
  font-family: Verdana, Geneva, sans-serif;
  font-size: 12px;
  font-weight: bold;
  position:relative;
  left: 510px;
  width: 380px;         /* different padding to the .site_header class */
  top:20px;
  overflow: hidden;
}
/* header, i.e. jQuery {css} designerGrid
  effect essentially starts here as the font-color is set here */
.site_header {
  color: #ff5676;
  padding: 20px 10px 10px 30px;
  z-index: 99;
  display: inline-block;
  position: relative;
  background-color: black;
  font-family: Verdana, Geneva, sans-serif;
  font-size: 48px;
  font-weight: bold;
  float: left;
  height: 170px;
  width: 360px;          /* different padding to the .intro class */
  left: 930px;
  top: -180px;
  overflow: hidden;
  line-height: 1.6em;
}
/* p class */
.interest {
  display: inline-block;
  position: relative;
  text-decoration: none;
  overflow: hidden;
  background: transparent;
}
.interest > span {
  text-align: justify;
  color:	#D5AD6D; /* if no support for background-clip */
  background: -webkit-linear-gradient(transparent, transparent),
  -webkit-linear-gradient(top, rgba(213,173,109,1) 0%, rgba(213,173,109,1) 26%, rgba(226,186,120,1) 35%, rgba(163,126,67,1) 45%, rgba(145,112,59,1) 61%, rgba(213,173,109,1) 100%);
  background: -o-linear-gradient(transparent, transparent);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-transition: 0.6s;
  -moz-transition: 0.6s;
  -o-transition: 0.6s;
  transition: 0.6s;
  -webkit-transition-delay: 0.2s;
  -moz-transition-delay: 0.2s;
  -o-transition-delay: 0.2s;
  transition-delay: 0.2s;
  top: -20px;
}
p.interest:before,
p.interest:after {
  content: '';
  position: absolute;
  top: -10px;
  left: -10px;
  width: 100%;
  text-align: center;
  opacity: 0;
  -webkit-transition: .4s,opacity .6s;
  -moz-transition: .4s,opacity .6s;
  -o-transition: .4s,opacity .6s;
  transition: .4s,opacity .6s;
}
p.interest:before {
  content: attr(data-hover);
  -webkit-transform: translate(-150%,0);
  -moz-transform: translate(-150%,0);
  -ms-transform: translate(-150%,0);
  -o-transform: translate(-150%,0);
  transform: translate(-150%,0);
}
p.interest:after {
  content: attr(data-active);
  -webkit-transform: translate(150%,0);
  -moz-transform: translate(150%,0);
  -ms-transform: translate(150%,0);
  -o-transform: translate(150%,0);
  transform: translate(150%,0);
}
p.interest:hover {
  cursor: pointer;
}
.interest:hover span,
.interest:active span {
  opacity: 0;
  -webkit-transform: scale(0.3);
  -moz-transform: scale(0.3);
  -ms-transform: scale(0.3);
  -o-transform: scale(0.3);
  transform: scale(0.3);
}
.interest:hover:before,
.interest:active:after {
  opacity: 1;
  -webkit-transform: translate(0,0);
  -moz-transform: translate(0,0);
  -ms-transform: translate(0,0);
  -o-transform: translate(0,0);
  transform: translate(0,0);
  -webkit-transition-delay: .4s;
  -moz-transition-delay: .4s;
  -o-transition-delay: .4s;
  transition-delay: .4s;
  color: darkviolet;
}
.interest:active:before {
  -webkit-transform: translate(-150%,0);
  -moz-transform: translate(-150%,0);
  -ms-transform: translate(-150%,0);
  -o-transform: translate(-150%,0);
  transform: translate(-150%,0);
  -webkit-transition-delay: 0s;
  -moz-transition-delay: 0s;
  -o-transition-delay: 0s;
  transition-delay: 0s;
}
.interest:active:after {
  color:#ffb92b;
}
.site_header:after {
  clear:right;
}
.implementation {
  display: inline;
  position: relative;
  float: left;
  padding: 10px;
  height: 750px;
  width: 380px;
  left: 110px;
  top: 20px;
  z-index: 1;
  background-color: #249cff;
  font-family: Verdana, Geneva, sans-serif;
  font-size: 12px;
  color: #000;
  font-weight: bold;
}
.declaration {
  display: inline;
  position: relative;
  float: left;
  width: 380px;
  height: 750px;
  padding: 10px;
  left: 130px;
  top: 20px;
  z-index: 1;
  background: #ffb92b;
  font-family: Verdana, Geneva, sans-serif;
  font-size: 12px;
  color: #000;
  font-weight: bold;
}
.body_text {
  z-index: 1;
  font-family: Verdana, Geneva, sans-serif;
  font-size: 12px;
  color: #000;
  font-weight: normal;
}
