<!doctype html>
<html class="no-js" lang="en:au" xmlns:height="http://www.w3.org/1999/xhtml">
<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <title>{css}designerGrid</title>
  <meta name="description" content="{css}designerGrid CSS prototyping tool for web designers">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="apple-touch-icon" href="icon.png">
  <!-- Place favicon.ico in the root directory -->
  <link rel="stylesheet" type="text/css" href="css/reset.css">
  <link rel="stylesheet" type="text/css" href="css/main.css">
  <link rel="stylesheet" type="text/css" href="css/elements.css">
  <!--<script src="https://code.jquery.com/jquery-1.11.1.js" crossorigin="anonymous"></script>-->
  <!--<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>-->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <!--<script>window.jQuery || document.write('<script src="js/vendor/jquery-{{JQUERY_VERSION}}.min.js"><\/script>')</script>-->
  <script src="js/designer-grid.js"></script>
  <script src="js/plugins.js"></script>
  <script src="js/main.js"></script>
  <script type="text/javascript">
    $(document).ready(function () {
      // call the jQuery {css}designerGrid Plugin with defaults
      try {
        $(document).designerGrid();
      }
      catch (e) {
        alert('Unfortunately {css} designerGrid does not work on your browser as it does not natively support the html5 canvas element!\n\nMost likely your browser is Internet Explorer, I advise you to trash it and return to this site with a standards compliant browser.');
      }
      // or alternatively, you can call the jQuery {css}designergrid Plugin specifying your required overrides, e.g.:
      <!--$(document).designerGrid({colCount : 14, colWidth : 60, gutter : 10, centred : true, opacity : 0.4});-->
    });
  </script>
</head>
  <body class="wrapper">
    <div class="intro"><strong>What is the jQuery {css} designerGrid Plugin?</strong><br/><br/>
      <div class="body_text"><p>{css} designerGrid is A jQuery Plugin developed for website interface developers who use the
        grid system of layout. {css} designerGrid is intended to assist these developers with CSS prototyping.</p><br /><p>The
        plugin is not a tool that will dynamically write any CSS, after all, how will we develop our CSS skills by doing
        that? </p><p>{css} designerGrid is implemented on this page, and can be toggled on and off at the bottom right
        hand corner...</p>
      </div>
    </div>

    <div class="site_header">
      <p class="interest" data-hover="A Blast from the Past!" data-active="In memory of">
        <span>jQuery {css} designerGrid</span>
      </p>
    </div>

    <div class="implementation"><strong>Example</strong><br/><br/>
      <div class="body_text"><p>The source code of this document can be explored to see a working
        implementation.</p><br/><br/><strong>Features</strong><br/><br/>
        <div class="body_text"><p>The {css} designerGrid jQuery plugin enables a web designer to view their design work in a
          standard browser with rulers and grids. When the grid z-index is toggled to the front, the designer can click the
          grid to get the exact screen coordinates for that position enabling more precise positioning of elements on the
          screen.<br/><br/><strong>Dependencies</strong><br/><br/><a href="http://www.jquery.com" target="_blank">The jQuery
            library</a><br/>A browser that natively supports HTML 5's canvas element (*!IE: this is why {css} designerGrid
          will not work with IE browsers)<br/><br/><strong>Version Releases</strong><br/><br/>
          Version 2.0.0:&nbsp&nbsp;Tuesday 29th May 2018<br />Fixed: the plugin had stopped working on jQuery versions above 1.11.1
          <br/><br/>Version 1.7.5:&nbsp;&nbsp;Friday
          26 Febr.<br/>Fixed: 'Columns are incorrectly centred' bug.<br/><br/>Version 1.7.0:&nbsp;&nbsp;Tuesday 16th Febr. 2010<br/>Added runtime control panel features
          and coordinate feedback system when grid z-index is toggled to top.<br/><br/>Version 1.6.0:&nbsp;&nbsp;Monday 15th
          Febr. 2010<br/>Correction to mathematical formulae bug in v 1.5.0.<br/><br/>Version 1.5.0:&nbsp;&nbsp;Thursday
          11th Febr. 2010<br/>Code clean up, modularization and exposure of new overrideable options whilst removing
          redundant options. (Still not working in IE)<br/><br/>version 1.0:&nbsp;&nbsp;Monday 8th Febr. 2010<br/>Currently
          not working in IE, but working toward a solution.<br/></p>
        </div>
      </div>
    </div>

    <div class="declaration"><strong>Implementation</strong><br/><br/>
      <div class="body_text"><p>Declare this inside a DOM ready() function, before the ending "&lt;&frasl;head>" tag and after
        your reference to the jQuery library and the {css} designerGrid script</p><br><p>{css}designerGrid has been
        tested up to jQuery version 3.3.1 and the main functions work apart from the toggling of the grid lines on and off. Should I have more time soon I will fix the issue.</p>
        <br /><p>************************************************** Please be mindful that I originally created this plugin way back in 2010, there are glaring inadequacies in the code but I have not had a chance to fix these. I will try to return to fix this in the near future. **************************************************</p>

      </div>
    </div>
  </body>

</html>
